

.empty, .container {
    min-height: 60vh;
}

.empty > h5 {
    padding-top: 20vh;
}

@media screen and (max-width: 1280px) {
    .col-12 {
        padding-right: 0;
    }

    .row {
        margin-right: 0;
    }

    tr > .image{
        vertical-align: middle;
        width: 4rem;
    }

    tr > td > div > img {
        max-height: 3rem;
    }

    .dropdown-toggle {
        padding-left: 0;
    }

    .input-group {
        width: 50vw;
    }

    div > .total, div > .check-out {
        margin-top: 5vh;
    }

    div > .total > h5 {
        text-align: center;
    }

    div > .check-out {
        text-align: right;
    }
    
    
}

@media screen and (min-width: 1280px) {
    .row {
        margin: auto 0;
    }

    td {
        height: 15vh;
    }

    .dropdown-toggle {
        padding-top: 0;
    }

    tr > td > div > img {
        max-height: 3rem;
    }
    
    tr > td {
        text-align: center;
        min-width: 12vw;
        vertical-align: middle;
    }

    

    div > .check-out {
        text-align: right;
    }
}