/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


@media screen and (max-width: 480px) {
    
    .w-sm-100 {
        width: 100%;
    }

    .mt-sm-1r {
        margin-top: 1rem;
    }

    .mb-sm-1r {
        margin-bottom: 1rem;
    }

    .mb-sm-3r {
        margin-bottom: 3rem;
    }

    .pt-sm-4 {
        padding-top: 4rem;
    }

    .pt-sm-2 {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 1200px) {
    
    .w-md-100 {
        width: 100%;
    }
}

body { 
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body { height: 100%; width: 100%; margin: 0; }

.container {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
    min-width: 100%;
}

.font-brand {
    font-family: 'Open Sans', sans-serif;
}

.font-heading {
    font-family: 'Bebas Neue', cursive;
}

.font-secondary {
    font-family: 'Inconsolata', monospace;
}

.font-cursive {
    font-family: 'Abril Fatface', cursive;
}

.btn:focus, .btn.focus, form {
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.fw-bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}

.fs-underline {
    text-decoration: underline;
    line-height: 1.8
}

.bg-light-grey {
    background-color: rgb(238, 238, 238);
}

.cs-pointer {
    cursor: pointer;
}

.text-decoration-underline {
    text-decoration: underline;
}

.pagination-page, .page-item {
    z-index: 0;
}