

.timeline{
	position: relative;
}

/*Line*/
.timeline>li::before{
	content:'';
	position: absolute;
	width: 1px;
	background-color: #d7cec7;
	top: 0;
	bottom: 0;
	left:-19px;
}

/*Circle*/
.timeline>li::after{
    font-family: FontAwesome;
    text-align: center;
    padding-top: 0px;
	z-index: 10;
	position: absolute;
	width: 30px;
	height: 30px;
	border:3px solid white;
	background-color: #ece6e1;
	border-radius: 50%;
	top:0;
	left:-33px;
}

.timeline>li:first-child::after{
	content: "\f12a";
}

.timeline>li.approved::after{
	content: "\f00c";
}

.timeline>li.delivering::after{
	content: "\f0d1";
}

.timeline>li.delivered::after{
	content: "\f164";
}

.timeline>li.prepared::after{
	content: "\f085";
}

.timeline>li.canceled::after{
	content: "\f00d";
}

/*Content*/
.timeline>li{
	padding: 5px 20px;
	margin-left: 0px;
	min-height: 50px;
	position: relative;
	background-color: white;
	list-style: none;
}
.timeline>li:nth-last-child(1)::before{
	width: 0px;
}