<div class="container" *ngIf="artcicle">
    <ng-container *ngIf="artcicle.thumbnailPhotoUrl != ''">
        <section class="thumbnail" style="background: url('{{artcicle.thumbnailPhotoUrl}}') no-repeat center center;">
        </section>
    </ng-container>


    <section class="article-detail">
        <div class="title mt-5">
            <h5 class="text-muted cs-pointer" (click)='returnTo(artcicle.type)'>{{artcicle.type | articleType}}</h5>
            <h1 class="fw-bolder text-red mt-3">{{artcicle.title}}</h1>
            <h6 class="mt-3">{{artcicle.publisherName}} &nbsp;&#8226;&nbsp; {{artcicle.publishedDate | date:'short'}}
            </h6>
        </div>

        

        <div class="paragraph mt-5">
            <div *ngFor="let paragraph of artcicle.paragraphs; let i = index">

                <ng-container *ngIf="paragraph.heading">
                    <h4 class="text-center fw-bold" [class.mt-5]="i > 0">{{paragraph.heading}}</h4>
                </ng-container>

                <ng-container *ngIf="paragraph.content">
                    <div class="content my-3">
                        <p>{{paragraph.content}}</p>
                    </div>
                </ng-container>

                <ng-container *ngIf="paragraph.photoUrl">
                    <div class="image pt-3">
                        <img src="{{paragraph.photoUrl}}" alt="">
                    </div>
                </ng-container>

                <ng-container *ngIf="paragraph.url">
                    <div class="link py-2 text-center">
                        <a class="text-dark fw-bold" href="{{paragraph.url}}">{{paragraph.url}}</a>
                    </div>
                </ng-container>


            </div>
        </div>
    </section>
    <section class="related-article my-5 mt-lg-3" *ngIf="relatedArticles">
        <h4 class="fw-bold text-red">Tin liên quan</h4>
        <div class="row">
            <div *ngFor="let article of relatedArticles" class="p-3">
                <app-news-card class="p-3" [article]="article"></app-news-card>
            </div>
        </div>
    </section>



</div>