<div class="container" *ngIf="orderList">
    <div class="col-12">
        <h3 class="font-secondary text-center mt-5">Danh sách đơn đặt hàng</h3>
        <div class="tab-container py-1 my-lg-3">
            <div class="tab">
                <button class="btn border-2" [(ngModel)]="orderParams.predicate" btnRadio="wfa"
                    [class.active]="tabActive == 0" (click)="selectPredicate(0)">
                    Chờ xác nhận
                </button>
                <button class="btn border-2" [(ngModel)]="orderParams.predicate" btnRadio="preparing"
                    [class.active]="tabActive == 1" (click)="selectPredicate(1)">
                    Đang chuẩn bị
                </button>
                <button class="btn" [(ngModel)]="orderParams.predicate" btnRadio="delivering"
                    [class.active]="tabActive == 2" (click)="selectPredicate(2)">
                    Đang giao
                </button>
                <button class="btn" [(ngModel)]="orderParams.predicate" btnRadio="delivered"
                    [class.active]="tabActive == 3" (click)="selectPredicate(3)">
                    Đã giao
                </button>
                <button class="btn" [(ngModel)]="orderParams.predicate" btnRadio="cancelled"
                    [class.active]="tabActive == 4" (click)="selectPredicate(4)">
                    Đã hủy
                </button>
            </div>
        </div>
        <div class="row justify-content-center content">
            <div class="col-12 col-md-10 col-lg-10" *ngIf="orderList.length > 0; else empty">
                <div class="d-none d-lg-block">
                    <table class="table">
                        <thead class="bg-light-grey">
                            <tr>
                                <th scope="col" class="text-center">Mã đơn hàng</th>
                                <th scope="col" class="text-center">Ngày đặt</th>
                                <th scope="col" class="text-center">Sản phẩm</th>
                                <th scope="col" class="text-center">Tổng tiền</th>
                                <th scope="col" class="text-center">Trạng thái</th>
                                <th scope="col" class="text-center">Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of orderList">
                                <td class="text-center">
                                    <p class="pt-lg-3">DH000{{item.id}}</p>
                                </td>
                                <td class="text-center">
                                    <p class="pt-lg-3">{{item.date | date:'short'}}</p>
                                </td>
                                <td>
                                    <ng-container *ngIf="item.orderDetails.length > 2">
                                        <div class="image-container">
                                            <img class="image image-1-1" src={{item.orderDetails[0].photoUrl}}>
                                            <img class="image image-1-2" src={{item.orderDetails[1].photoUrl}}>
                                            <div class="image image-other text-light">
                                                <p>+{{item.orderDetails.length - 2}}</p>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="item.orderDetails.length == 2">
                                        <div class="image-container">
                                            <img class="image image-2-1" src={{item.orderDetails[0].photoUrl}}>
                                            <img class="image image-2-2" src={{item.orderDetails[1].photoUrl}}>
                                            
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="item.orderDetails.length == 1">
                                        <div class="image-container">
                                            <img class="image image-3-1" src={{item.orderDetails[0].photoUrl}}>
                                        </div>
                                    </ng-container>
                                    
                                </td>
                                <td class="text-center">
                                    <p class="pt-lg-3">{{item.subTotal - item.discount + item.shippingMethod.price | currency:"VND"}}</p>
                                </td>
                                <td class="text-center">
                                    <p class="pt-lg-3">{{item.state | orderState}}</p>
                                </td>
                                <td class="text-center">
                                    <p class="pt-lg-3 text-decoration-underline cs-pointer" (click)="getOrderDetail(item.id)">Xem</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-lg-none">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let item of orderList">
                                <td (click)="getOrderDetail(item.id)">
                                    <div class="row">
                                        <div class="col-3" style="min-height: 3rem;">
                                            <ng-container *ngIf="item.orderDetails.length > 2">
                                                <div class="image-container">
                                                    <img class="image image-1-1" src={{item.orderDetails[0].photoUrl}}>
                                                    <img class="image image-1-2" src={{item.orderDetails[1].photoUrl}}>
                                                    <div class="image image-other text-light">
                                                        <p>+{{item.orderDetails.length - 2}}</p>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="item.orderDetails.length == 2">
                                                <div class="image-container">
                                                    <img class="image image-2-1" src={{item.orderDetails[0].photoUrl}}>
                                                    <img class="image image-2-2" src={{item.orderDetails[1].photoUrl}}>
                                                    
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="item.orderDetails.length == 1">
                                                <div class="image-container">
                                                    <img class="image image-3-1" src={{item.orderDetails[0].photoUrl}}>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="col-9">
                                            <p>Mã đơn hàng: DH000{{item.id}}</p>
                                            <p>{{item.date | date:'short'}}</p>
                                            <p>Tổng tiền: {{item.subTotal - item.discount + item.shippingMethod.price | currency:"VND"}}</p>
                                            <p>{{item.state | orderState}}</p>
                                        </div>
                                        
                                        
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-12 d-flex justify-content-center mt-5" *ngIf="pagination">
                    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
                        [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
                        (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                        lastText="&raquo;">
                    </pagination>
                </div>
            </div>
            <ng-template #empty>
                <div class="empty px-5 my-4 text-center">
                    <h4>Bạn chưa có đơn hàng nào hết</h4>
                </div>
                
            </ng-template>
        </div>


    </div>
</div>