<!--Section: Block Content-->
<div class="container pt-3 p-lg-5">

    <!--Grid row-->
    <div class="w-100">

        <!-- Card -->
        <div class="card border-none bg-white wish-list mb-3">
            <div class="card-body">

                <h2 class="font-secondary ml-lg-3 w-100 text-center text-lg-left text-red text-uppercase">
                    đơn hàng của tôi
                </h2>

                <div class="w-100 px-lg-3 py-lg-3">
                    <tabset class="text-uppercase d-none d-lg-block">
                        <tab heading="{{predicate.name}}" *ngFor="let predicate of predicates"
                            (selectTab)="selectPredicate(predicate.id)">
                        </tab>
                    </tabset>
                    <div class="p-1 d-lg-none">
                        <carousel (activeSlideChange)="selectPredicate($event)" [interval]="0">
                            <slide *ngFor="let predicate of predicates; let index=index" style="height: 100%;">
                                <div class="w-100 h-100 p-3 text-center">
                                    <p class="m-0 text-uppercase">
                                        {{predicate.name}}
                                    </p>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                    <div *ngFor="let item of orderList; let i = index" class="p-lg-3 my-4 shadow">
                        <div class="row">
                            <div class="d-lg-none col-12">
                                <div class="px-3 py-2">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div class="form-inline">
                                                <p class="text-muted m-0">
                                                    Mã ĐH
                                                </p>
                                                <p class="fw-bold m-0 text-red text-capitalize ml-1">
                                                    #{{item.id}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-inline" routerLink='/order-detail/{{item.id}}'>
                                            <i class="fa fa-arrow-right p-0 m-0"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div routerLink='/order-detail/{{item.id}}'
                                    class="view zoom overlay z-depth-1 rounded mb-0 mb-md-0 bg-pastel-light cs-pointer p-4 p-lg-3 text-center">
                                    <img class="img-fluid" style="height: auto; max-height: 5rem;"
                                        src="{{item.orderDetails[0].photoUrl}}" alt="Sample">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="row h-100 p-3 form-inline detail">
                                    <div class="col-lg-2 d-none d-lg-block">
                                        <p class="text-muted m-0">
                                            Đơn hàng
                                        </p>
                                        <p class="fw-bold m-0 text-red text-capitalize">
                                            #&nbsp;{{item.id}}
                                        </p>
                                    </div>
                                    <div class="col-md-3 col-lg-2 d-none d-lg-block">
                                        <p class="text-muted m-0">
                                            Ngày đặt
                                        </p>
                                        <p class="fw-bold m-0 text-capitalize">
                                            {{item.date | date:'shortDate'}}
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-3 col-lg-2 m-lg-0">
                                        <p class="text-muted m-0">
                                            Số lượng
                                        </p>
                                        <p class="fw-bold m-0">
                                            {{item.orderDetails.length}} sản phẩm
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-3 col-lg-2 m-lg-0">
                                        <p class="text-muted m-0">
                                            Tổng tiền
                                        </p>
                                        <p class="fw-bold m-0 text-capitalize">
                                            {{item.subTotal - item.discount + item.shippingMethod.price |
                                            currency:'VND'}}
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-3 col-lg-2 m-lg-0">
                                        <p class="text-muted m-0">
                                            Trạng thái
                                        </p>
                                        <p class="fw-bold m-0">
                                            {{item.state | orderState}}
                                        </p>
                                    </div>
                                    <div class="col-lg-2 mt-3 m-lg-0 text-right d-none d-lg-block">
                                        <button class="btn" routerLink='/order-detail/{{item.id}}'>
                                            <a class="text-red">Chi tiết</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <h4 class="text-muted text-center my-5" style="min-height: 50vh;" *ngIf="orderList?.length == 0">
                    <i class="fa fa-info"></i>&nbsp;&nbsp;Bạn chưa có đơn hàng nào
                </h4>
                <div class="col-12 d-flex justify-content-center py-5" *ngIf="pagination && pagination.totalItems > 0">
                    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
                        [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
                        (pageChanged)="pageChanged($event)" previousText="&#x2039;" nextText="&#x203A;"
                        firstText="&#xab;" lastText="&#xbb;">
                    </pagination>
                </div>
            </div>
        </div>
        <!-- Card -->


    </div>

    <!--Grid row-->

</div>
<!--Section: Block Content-->