@media screen and (min-width: 990px) { 
    .detail > div > p, .detail > div > button > a {
        font-size: 1vw;
    }

    
}

@media screen and (max-width: 990px) { 
    .detail > div > p {
        font-size: 4vw;
    }

    div.carousel.slide {
        display: none !important;
    }

    .carousel-inner {
        padding-bottom: 0 !important;
    }

    .detail > div {
        display: flex;
        margin-top: 1vh;
        flex-flow: row wrap;
        align-items: center;
    }

    .detail > div > p:first-child {
        width: 50%;
    }

    .detail > div > p:nth-child(2){
        width: 50%;
        text-align: right;
    }
}