@media screen and (max-width: 1000px) {
    .nav-link {
        font-size: 2rem;
    }
}


@media screen and (max-width: 1200px) {
    .navbar {
        height: auto;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .navbar-brand {
        margin-right: 0;
        margin-left: 2.4rem;
    }
    

    .navbar-collapse {
        z-index: 999;
        width: 100vw;
        height: 100vh;
        margin: 0.5rem -1rem;
        background-color: rgb(255, 255, 255);
    }

    .navbar-toggler {
        border: none;
    }

    .dropdown-menu {
        background-color: transparent;
        border: none;
        font-size: 2rem;
    }

    .dropdown-item {
        font-size: 1.75rem;
    }

    .btn {
        padding: 0.55rem 1rem;
        border: none;
    }
}

@media screen and (min-width: 1200px) {
    
    .navbar-brand {
        font-size: 2rem;
    }

    .nav-link {
        margin: 0 1rem;
    }

    .btn {
        margin: 0 0.3rem;
    }

    .category-catalogue, .area-catalogue {
        padding: 2rem 3rem;    
    }

    .category-catalogue {
        width: 75vw; 
    }

    .area-catalogue {
        width: 65vw;
    }

    .category-catalogue a, .area-catalogue a{
        padding: 1rem;
    }

    .image-container {
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 3px;
    }

    .dropdown-menu > .row{
        min-height: 30rem;
    }

}

.navbar, .dropdown-item {
    font-family: 'Raleway', sans-serif;
}

.dropdown-item, .dropdown-toggle {
    cursor: pointer;
}