<!--Navbar mobile-->
<nav class="navbar shadow navbar-expand-lg navbar-fixed-top navbar-light bg-light d-lg-none">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="navigationBarToggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand font-brand" routerLink='/' (click)="hideMenuToggle()">Furniture</a>
        <div>
            <button class="btn navbar-toggler" type="button" (click)="showSearchBarToggle()">
                <span><i class="fa fa-search"></i></span>
            </button>
            <button class="btn navbar-toggler position-relative" type="button" routerLink='/cart'>
                <span><i class="fa fa-shopping-bag"></i></span>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger pb-2">
                    <span class="text-light">9</span>
                </span>
            </button>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapse">
            <div class="row col-md-12">
                <div class="col-lg-2">
                    <ul class="navbar-nav mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/'>Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <span dropdown>
                                <a class="nav-link" routerLink id="basic-link" dropdownToggle (click)="false">Danh mục
                                    sản
                                    phẩm</a>
                                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="basic-link">
                                    <li *ngFor="let item of categories">
                                        <a class="dropdown-item">{{item.categoryName | titlecase}}</a>
                                    </li>

                                </ul>
                            </span>
                        </li>

                        <li class="nav-item">
                            <span dropdown>
                                <a class="nav-link" routerLink id="basic-link_1" dropdownToggle (click)="false">Không
                                    gian sống</a>
                                <ul id="basic-link-1-dropdown" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="basic-link-1">
                                    <li *ngFor="let item of spaceItem">
                                        <a class="dropdown-item" (click)="hideMenuToggle()"
                                            routerLink='/area/{{item}}'>{{item}}</a>
                                    </li>
                                </ul>
                            </span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink='/collections'>Bộ sưu tập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/promotions'>Chương trình khuyến mãi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/news'>Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/help'>Tư vấn - Hỗ trợ</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <div *ngIf="(accountService.currentUser$ | async) === null">
                            <li class="nav-item">
                                <a class="nav-link" routerLink='/login' (click)="hideMenuToggle()">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink='/register' (click)="hideMenuToggle()">Đăng ký</a>
                            </li>
                        </div>
                        <ng-container *ngIf="(accountService.currentUser$ | async)">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/my-account">Tài khoản của tôi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/notifications">Thông báo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/favorites">Yêu thích</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="logout()">Đăng xuất</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</nav>

<!--Navbar desktop-->
<nav class="navbar shadow navbar-expand-lg d-none d-lg-block " [class.bg-black]="displayIn(['/login'])"
    [class.bg-red]="displayIn(['/register'])">
    <div class="container-fluid position-relative">

        <!--Brand logo-->
        <div>
            <a class="navbar-brand" [class.text-red]="!displayIn(['/login', '/register'])"
                [class.text-light]="displayIn(['/login', '/register'])" routerLink='/' (click)="hideMenuToggle()">
                Furniture
            </a>
        </div>



        <!--Cart + Login/Register + Customer info-->

        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
                <div class="form-inline" *ngIf="!displayIn(['/login', '/register'])">
                    <!--Sale-->
                    <li class="nav-item" 
                        (mouseenter)="hideCategoryDropdown(false)"
                        (mouseleave)="hideCategoryDropdown(true)"
                        (click)="hideCategoryDropdown(false)">
                        <a class="nav-link text-dark">DANH MỤC SẢN PHẨM</a>
                    </li>
                    

                    <!--News-->
                    <li class="nav-item">
                        <a class="nav-link text-dark" routerLink='/news'>TIN TỨC</a>
                    </li>

                    <!--Help + support-->
                    <li class="nav-item">
                        <a class="nav-link text-dark" routerLink='/help'>HỖ TRỢ</a>
                    </li>
                </div>
                <!--Search bar-->
                <li class="nav-item search-bar" *ngIf="search">
                    <app-search-bar></app-search-bar>
                </li>
                <li class="nav-item">
                    <button class="btn btn-cart position-relative" (click)=showSearchBarToggle();
                        [class.text-dark]="!displayIn(['/login', '/register'])"
                        [class.text-light]="displayIn(['/login', '/register'])">
                        <i *ngIf="!search" class="fa fa-search" aria-hidden="true"></i>
                        <i *ngIf="search" class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </li>

                <!--Cart-->
                <li class="nav-item">
                    <button class="btn btn-cart position-relative"
                        [class.text-dark]="!displayIn(['/login', '/register'])"
                        [class.text-light]="displayIn(['/login', '/register'])" routerLink='/cart'>
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <span class="position-absolute top-0 start-100 translate-middle round badge bg-danger">
                            <span style="font-size: 10px;" *ngIf="(cartService.currentCart$ | async) as totalCartItem"
                                class="text-light">{{totalCartItem}}
                            </span>
                        </span>
                    </button>
                </li>

                <div class="btn-group" *ngIf="(accountService.currentUser$ | async) === null" dropdown
                    placement="bottom-right" dropdown>

                    <!--Customer info button-->
                    <button [class.text-dark]="!displayIn(['/login', '/register'])"
                        [class.text-light]="displayIn(['/login', '/register'])" class="btn" dropdownToggle>
                        <span>
                            <i class="fa fa-user-circle-o"></i>
                        </span>
                    </button>

                    <!--Customer info dropdown-->
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                        aria-labelledby="button-basic">
                        <li class="dropdown-item">
                            <a class="nav-link px-0 text-dark" routerLink='/login'>ĐĂNG
                                NHẬP</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link px-0 text-dark" routerLink='/register'>ĐĂNG
                                KÝ</a>
                        </li>
                    </ul>
                </div>

                <!--Customer info-->
                <li class="nav-item" *ngIf="(accountService.currentUser$ | async) as user">
                    <div class="btn-group" dropdown placement="bottom right" dropdown>

                        <!--Customer info button-->
                        <button [class.text-dark]="!displayIn(['/'])" class="btn dropdown-toggle text-dark"
                            dropdownToggle>
                            <span>
                                XIN CHÀO, {{user.name | uppercase}}
                            </span>
                        </button>

                        <!--Customer info dropdown-->
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                            aria-labelledby="button-basic">
                            <li class="dropdown-item">
                                <a class="nav-link text-dark" routerLink='/my-account'>TÀI KHOẢN</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link text-dark" routerLink='/favorites'>YÊU THÍCH</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link text-dark" routerLink='/order'>ĐƠN HÀNG CỦA TÔI</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link text-dark" (click)="logout()">ĐĂNG XUẤT</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="position-absolute bg-white shadow rounded p-3"
        [class.d-none]="categoryDropdown"
        (mouseenter)="hideCategoryDropdown(false)"
        (mouseleave)="hideCategoryDropdown(true)"
        style="top: 5vh; left: 1vw; right: 1vw;  min-height: 90vh; z-index: 1000;">
        <div class="p-3">
            <h5 class="fw-bold">Danh mục sản phẩm</h5>
        </div>
        <div class="row mx-0">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item border-none rounded" *ngFor="let category of categories"
                    [ngClass]="{'text-light bg-red': hoveredCategory.categoryName == category.categoryName}"
                    (mouseenter)="loadSubCategories(category)">
                        <p class="m-0 text-uppercase cs-pointer">
                            {{category.categoryName}}
                        </p>
                    </li>
                 </ul>
            </div>
            <div class="col-3">
                
                <ul class="list-group">
                    <li class="list-group-item border-none rounded" *ngFor="let category of hoveredCategory.subCategories" 
                    [routerLink]="['/category']" [queryParams]="{subCategory: category.subCategoryName}">
                        <p class="m-0 text-uppercase cs-pointer">
                            {{category.subCategoryName}}
                        </p>
                    </li>
                    <li class="list-group-item border-none">
                        <p class="m-0 text-uppercase cs-pointer" routerLink='/category/{{hoveredCategory.categoryName}}'>
                            Tất cả sản phẩm
                        </p>
                    </li>
                 </ul>
            </div>
            <div class="col-6 pr-0" style="height: 70vh;">
                <div class="w-100 h-100" style="overflow: hidden; height: 100%;">
                    <img src="{{categoryDropDownImage}}" class="w-100" alt="" />
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--Navigation link-->
    <div class="container-fluid navigation border-top border-bottom" *ngIf="!displayIn(['/login', '/register'])">
        <ul class="navbar-nav w-100 d-flex justify-content-between me-auto mb-2 mb-lg-0 mini">
            <div class="form-inline" *ngFor="let category of recommendCategory; index as i">
                <li class="nav-item" (click)="gotoCategory(category)">
                    <a class="nav-link cs-pointer" 
                    [class.text-tan-dark]="category.type != 'sale'"
                    [class.text-danger]="category.type == 'sale'">
                        {{category.name | uppercase}}</a>
                </li>
            </div>

        </ul>
    </div>

    
</nav>