
@media screen and (max-width: 988px) {
    .navbar {
        height: auto;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .navbar-brand {
        margin-right: 0;
        margin-left: 2.4rem;
    }
    

    .navbar-collapse {
        z-index: 999;
        width: 100vw;
        height: 100vh;
        margin: 0.5rem -1rem;
        background-color: rgb(255, 255, 255);
    }

    .navbar-toggler {
        border: none;
    }

    .dropdown-menu {
        background-color: transparent;
        border: none;
        font-size: 2rem;
    }

}

@media screen and (min-width: 988px) {

    .navbar-brand {
        font-size: 2vw;
    }

    button > span, .nav-link {
        font-size: 1vw;
    }

    .nav-link {
        margin: 0 0.2vw;
    }

    .navigation > ul > div > li > .nav-link {
        font-size: 0.8vw;
        margin: 0;
        padding: 0.5rem 0;
    }


    .search-bar {
        margin-left: 2vw;
        min-width: 20vw;
    }


    nav > div > div {
        min-width: 20vw;
    }

    .list-group-item:hover {
        background-color: #76323f;
        color: white;
    }

    
}

.dropdown-item, .dropdown-toggle {
    cursor: pointer;
}