<!--Navbar mobile-->
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light rounded d-lg-none">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="navigationBarToggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand font-brand" routerLink='/' (click)="hideMenuToggle()">Furniture</a>
        <div>
            <button class="btn navbar-toggler" type="button" (click)="showSearchBarToggle()">
                <span><i class="fa fa-search"></i></span>
            </button>
            <button class="btn navbar-toggler position-relative" type="button" routerLink='/cart'>
                <span><i class="fa fa-shopping-bag"></i></span>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger pb-2">
                    <span class="text-light">9</span>
                </span>
            </button>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapse">
            <div class="row col-md-12">
                <div class="col-lg-2">
                    <ul class="navbar-nav mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/'>Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <span dropdown>
                                <a class="nav-link" routerLink id="basic-link" dropdownToggle (click)="false">Danh mục
                                    sản
                                    phẩm</a>
                                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="basic-link">
                                    <li *ngFor="let item of categories">
                                        <a class="dropdown-item">{{item.categoryName | titlecase}}</a>
                                    </li>

                                </ul>
                            </span>
                        </li>

                        <li class="nav-item">
                            <span dropdown>
                                <a class="nav-link" routerLink id="basic-link_1" dropdownToggle (click)="false">Không
                                    gian sống</a>
                                <ul id="basic-link-1-dropdown" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="basic-link-1">
                                    <li *ngFor="let item of spaceItem">
                                        <a class="dropdown-item" (click)="hideMenuToggle()"
                                            routerLink='/area/{{item}}'>{{item}}</a>
                                    </li>
                                </ul>
                            </span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink='/collections'>Bộ sưu tập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/promotions'>Chương trình khuyến mãi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/news'>Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/help'>Tư vấn - Hỗ trợ</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <div *ngIf="(accountService.currentUser$ | async) === null">
                            <li class="nav-item">
                                <a class="nav-link" routerLink='/login' (click)="hideMenuToggle()">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink='/register' (click)="hideMenuToggle()">Đăng ký</a>
                            </li>
                        </div>
                        <ng-container *ngIf="(accountService.currentUser$ | async)">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/my-account">Tài khoản của tôi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/notifications">Thông báo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/favorites">Yêu thích</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="logout()">Đăng xuất</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</nav>

<!--Navbar desktop-->
<nav class="navbar navbar-expand-lg rounded d-none d-lg-block desktop">
    <div class="container-fluid">

        <!--Brand logo-->
        <div>
            <a class="navbar-brand text-light" [class.text-dark]="router.url != '/' 
                    && router.url != '/login' 
                    && router.url != '/register'" routerLink='/' (click)="hideMenuToggle()">Furniture</a>
        </div>

        <!--Search bar-->
        <div>
            <app-search-bar [class.d-none]="router.url == '/login' || router.url == '/register'"></app-search-bar>
        </div>

        <!--Cart + Login/Register + Customer info-->
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">

                <!--Cart-->
                <li class="nav-item">
                    <button class="btn btn-cart position-relative text-light" [class.text-dark]="router.url != '/' && router.url != '/login' 
                        && router.url != '/register'" routerLink='/cart'>
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <span class="position-absolute top-0 start-100 translate-middle round badge bg-danger">
                            <span style="font-size: 10px;" *ngIf="(cartService.currentCart$ | async) as totalCartItem"
                                class="text-light">{{totalCartItem}}
                            </span>
                        </span>
                    </button>
                </li>

                <!--Login-->
                <li class="nav-item" *ngIf="(accountService.currentUser$ | async) === null">
                    <a class="nav-link px-0" [class.text-light]="router.url == '/'"
                        [class.text-dark]="router.url != '/' && router.url != '/login' && router.url != '/register'"
                        routerLink='/login' (click)="hideMenuToggle()">Đăng nhập</a>
                </li>

                <!--Register-->
                <li class="nav-item" *ngIf="(accountService.currentUser$ | async) === null">
                    <a class="nav-link px-0" [class.text-light]="router.url == '/'"
                        [class.text-dark]="router.url != '/' && router.url != '/login' && router.url != '/register'"
                        routerLink='/register' (click)="hideMenuToggle()">Đăng ký</a>
                </li>

                <!--Customer info-->
                <li class="nav-item" *ngIf="(accountService.currentUser$ | async) as user">
                    <div class="btn-group" dropdown placement="bottom right" dropdown>

                        <!--Customer info button-->
                        <button [class.text-dark]="router.url != '/'" class="btn dropdown-toggle text-light"
                            dropdownToggle>
                            <span>
                                Xin chào, {{user.name | titlecase}}
                            </span>
                        </button>

                        <!--Customer info dropdown-->
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                            aria-labelledby="button-basic">
                            <li class="dropdown-item">
                                <a class="nav-link" routerLink='/my-account'>Tài khoản</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link" routerLink='/favorites'>Yêu thích</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link" routerLink='/order'>Đơn hàng của tôi</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link" (click)="logout()">Đăng xuất</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--Navigation link-->
    <div class="container row col-md-12 justify-content-center"
        *ngIf="router.url != '/login' && router.url != '/register'">
        <ul class="navbar-nav me-auto mb-2 ml-1 mb-lg-0 ">

            <!--Category dropdown-->
            <li class="nav-item">
                <div class="dropdown" dropdown [insideClick]="true" [autoClose]="true">
                    <a class="nav-link" [class.text-dark]="router.url != '/'" dropdownToggle>Danh mục sản phẩm <span><i
                                class="fa fa-caret-down"></i></span></a>
                    <div class="dropdown-menu category-catalogue" *dropdownMenu>
                        <div class="row">
                            <div class="col-3">
                                <li *ngFor="let item of categories">
                                    <a class="dropdown-item" (mouseover)="loadSubCategories(item)">{{item.categoryName | titlecase}}</a>
                                </li>
                            </div>

                            <div class="col-3">
                                <li *ngFor="let item of subCategories">
                                    <a class="dropdown-item" (mouseover)="loadSubCategoryImage(item)"
                                        routerLink='/category/{{item.subCategoryName}}'>{{item.subCategoryName |
                                        titlecase}}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" (mouseover)="loadSubCategoryImage(hoveredCategory)"
                                        routerLink='/category/{{hoveredCategory.categoryName}}'>Tất cả sản phẩm</a>
                                </li>
                            </div>

                            <div 
                                loading="lazy"
                                class="col-6 image-container" 
                                [ngStyle]="{ 'background-image': 'url(' + categoryDropDownImage + ')'}">
                            </div>

                        </div>
                    </div>
                </div>
            </li>

            <!--Area dropdown-->
            <li class="nav-item">
                <div class="dropdown" dropdown>
                    <a class="nav-link" [class.text-dark]="router.url != '/'" dropdownToggle>Không gian sống <span><i
                                class="fa fa-caret-down"></i></span></a>
                    <div class="dropdown-menu area-catalogue" *dropdownMenu>
                        <div class="row">
                            <div class="col-4">
                                <li *ngFor="let item of spaceItem">
                                    <a class="dropdown-item" routerLink='/area/{{item}}'>{{item}}</a>
                                </li>
                            </div>

                            <div 
                                class="col-8 image-container" 
                                [ngStyle]="{ 'background-image': 'url(' + backgroungImage2 + ')'}">
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!--Collection-->
            <li class="nav-item">
                <a class="nav-link" [class.text-dark]="router.url != '/'" routerLink='/collections'>Bộ sưu tập</a>
            </li>

            <!--Promotion-->
            <li class="nav-item">
                <a class="nav-link" [class.text-dark]="router.url != '/'" routerLink='/promotions'>Chương trình khuyến mãi</a>
            </li>

            <!--News-->
            <li class="nav-item">
                <a class="nav-link" [class.text-dark]="router.url != '/'" routerLink='/news'>Tin tức</a>
            </li>

            <!--Help + support-->
            <li class="nav-item">
                <a class="nav-link" [class.text-dark]="router.url != '/'" routerLink='/help'>Tư vấn - Hỗ trợ</a>
            </li>
        </ul>
    </div>
</nav>