@media screen and (max-width: 480px) {
    .navbar, .dropdown-toggle, .dropdown-item {
        font-size: 2rem;
    }

    .dropdown-menu {
        width: 110%;
        background-color: transparent;
        border: none;
    }

    .dropdown-item {
        margin-left: 10vw;
        font-size: 1.75rem;
    }

    .btn-search-mobile {
        padding: 0.55rem 1.15rem;
        border: none;
    }
}


.btn-cart {
    color: black;
    border-radius: 30px;
    border: 2px solid black;
}

.dropdown-toggle {
    margin-left: 0;
}

.nav-link-desktop {
    font-size: 1.2rem;
    text-align: center;
}

.navbar-toggler {
    border: none;
}