
<div class="container mt-5 py-4 w-sm-100">
    <div class="text-center">
        <img class="bg-image mb-5" 
            style="max-height: 5rem;" src="./assets/not-found.png" alt="">
        <h1 class="mb-3">Đã có lỗi xảy ra</h1>
        <h3 class="mt-4">Trang bạn truy cập không tồn tại</h3>
        <p class="text-muted mb-3">Chúng tôi xin lỗi về sự bất tiện này. Bạn có thể trở về trang chủ để thông báo này biến mất</p>
        <button class="btn btn-info btg-lg" routerLink='/'>Trở về trang chủ</button>
    </div>
</div>