@media screen and (max-width: 990px) {
    .btn, label, input {
        font-size: 1.2rem;
    }
    
    .list-head {
        margin: 0;
    }
    .list-head col-12 {
        margin: 0;
    }

    .sort {
        margin: 0;
    }

    

    .category-header {
        margin-left: 0rem;
        margin-top: 5rem;
    }



    .row {
        margin: auto 0;
    }
    
    form > div > div, ul, ul > div, li, a{
        width: 100%;
    }
}



.category-header {
    margin-left: 1rem;
    margin-top: 3rem;
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .col-lg-3 {
        flex: 0 0 33%;
        max-width: 33%;
    }

    .product-price {
        font-size: 0.7rem;
    }

    

}

@media screen and (min-width: 1200px){
    .row {
        margin: auto 0;
        padding: 0 2vw;
    }


    form > div > div, ul, ul > div, li, a{
        width: 100%;
    }

    a {
        padding-left: 1rem;
    }

    
    

}


.form-group {
    width: 100%;
}

.btn {
    width: 100%;
}

.filter-btn-group {
    width: 100%;
}

.btn-sort {
    text-align: right;
}

.container {
    min-height: 100vh;
}

.mobile-filter {
    background-color: rgb(247, 247, 255);
}