<div class="wrapper">
    <ngx-spinner>Đang tải</ngx-spinner>
    <div class="content mb-5">
        <app-navbar (showSearchBar)="showSearchBarMobile($event)" (navBarOpen)="hideContent($event)"></app-navbar>

        <div class="container" [class.d-none]="!showContent" 
            [class.padding]="router.url != '/' && router.url != '/login' && router.url != '/register'">
            <app-search-bar *ngIf="searchMode"></app-search-bar>
            <router-outlet></router-outlet>
        </div>

    </div>
    
    <app-footer *ngIf="showContent"></app-footer>
</div>