@media screen and (min-width: 990px) {
    
    .related-product-card {
        padding: 0 3vw;
    }

    .container > .row {
        margin: auto 0;
        padding: 2vw;
    }

    
}


@media screen and (max-width: 990px) {
    .row
    {
        margin-right: 0;
        margin-left: 0;
    }

    .ngx-gallery {
        margin-bottom: 2rem;
    }
    
    .slide {
        padding: auto 20vw;
    }
}




.breadcrumb>li+li:before { 
    padding-right: 5px;
    content: '>' 
}


.form-control {
    max-width: 5rem;
}

.frame {
    height: 100%;   
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin: 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ngx-gallery {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

.carousel-inner {
    padding-bottom: 5% !important;
}