<div *ngIf="product" class="container">

    <div class="row bg-white justify-content-center">
        <nav *ngIf="product" class="col-12 p-lg-0 py-3 bg-transparent" style="--bs-breadcrumb-divider: &#10094;">
            <ol class="breadcrumb p-0 bg-transparent mb-0">
                <li class="breadcrumb-item"><a class="text-decoration-none text-dark" routerLink='/'>TRANG CHỦ</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none text-dark"
                        routerLink="/category/{{product.category}}">{{product.category | uppercase}}</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none text-dark" routerLink='/category'
                        [queryParams]="{subCategory: product.subCategory}">{{product.subCategory | uppercase}}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page"><a
                        class="fw-bold text-dark text-decoration-none">{{product.productName | uppercase}}</a></li>
            </ol>
        </nav>

        <div class="col-12 col-md-7 col-lg-7 mt-lg-5 pr-lg-0">
            <div class="frame">
                <span class="helper"></span>
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery bg-pastel-light h-lg-100 p-lg-5"
                    style="display: inline-block;">
                </ngx-gallery>
            </div>
        </div>


        <div class="col-12 col-md-5 col-lg-4 mt-lg-5 shadow p-3">
            <h1 class="font-secondary text-red">{{product.productName | uppercase}}</h1>
            <h6 class="text-muted mb-4">Mã sản phẩm: {{product.productCode | uppercase}}</h6>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-4">
                  <tbody>
                    <tr>
                      <th class="pl-0 w-25" scope="row"><strong>Nhãn hàng</strong></th>
                      <td>{{product.brand | titlecase}}</td>
                    </tr>
                    <tr>
                      <th class="pl-0 w-25" scope="row"><strong>Chất liệu</strong></th>
                      <td>{{product.material | titlecase}}</td>
                    </tr>
                    <tr>
                      <th class="pl-0 w-25" scope="row"><strong>Bộ sưu tập</strong></th>
                      <td>{{product.collection | titlecase}}</td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Kích thước</strong></th>
                        <td>{{product.length}}mm
                            x {{product.width}}mm
                            x {{product.height}}mm</td>
                      </tr>
                      <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Khối lượng</strong></th>
                        <td>{{product.weight}} KG</td>
                      </tr>
                  </tbody>
                </table>
              </div>

            <div *ngIf="product.productColors.length > 0" class="mt-2">
                <p class="color">Màu sắc : {{colorChoosen.colorName | titlecase}}</p>
                <button class="btn rounded p-0 px-1" *ngFor="let color of product.productColors"
                    [class.btn-outline-dark]="color.colorName == colorChoosen.colorName">
                    <div (click)="chooseColor(color)">
                        <i *ngIf="color.colorName !== colorChoosen.colorName; else choosen"
                            class="fa fa-square pl-0 p-2" [ngStyle]="{ 'color': '#' + color.hexCode}"></i>
                        <ng-template #choosen>
                            <i class="fa fa-square pl-0 p-2" [ngStyle]="{ 'color': '#' + color.hexCode}"></i>
                        </ng-template>
                    </div>
                </button>
            </div>

            <p class="quantity-label mt-3">Số lượng</p>

            <div class="input-group mb-3">
                <button class="btn btn-minus text-muted border bg-grey" type="button" (click)="decreaseQuantity()">
                    <i class="fa fa-minus"></i>
                </button>
                <input type="number" min="1" max="99" pattern="\d*" [(ngModel)]="productToCart.quantity"
                    class="form-control bg-grey">
                <button class="btn btn-plus text-muted border bg-grey" type="button" (click)="increaseQuantity()">
                    <i class="fa fa-plus "></i>
                </button>
            </div>


            <ng-container *ngIf="product.salePercent == 0;else sale">
                <hr class="dropdown-divider my-4">
                <h2 class="product-price">{{product.price | currency:'VND'}}</h2>
            </ng-container>
            <ng-template #sale>
                <hr class="dropdown-divider my-4">
                <p>Giảm giá {{product.salePercent}}%</p>
                <hr class="dropdown-divider my-4">
                <div class="form-inline">
                    <h2 class="product-price my-0 text-danger">{{product.price * (100 - product.salePercent) / 100 |
                        currency:'VND'}}&nbsp;</h2>
                    <p class="my-0 text-decoration-line-through">{{product.price | currency:'VND'}}</p>
                </div>

            </ng-template>


            <div class="mt-4">
                <button (click)="addToCart()" class="btn btn-danger mb-3 w-100 p-3">
                    <h5 class="p-0 m-0">
                        <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;THÊM VÀO GIỎ HÀNG
                    </h5>

                </button>
                <button (click)="addToFavorite(product)" class="btn w-100 p-2">
                    <p class="m-0 text-danger"><i class="fa fa-heart"></i>&nbsp;&nbsp;YÊU THÍCH</p>
                    
                </button>
            </div>



        </div>
        <div class="col-12 col-lg-11 mt-3 mt-lg-5 pt-4">

            <div class="w-100">
                <h4 class="fw-bold text-center text-lg-left">GIỚI THIỆU</h4>
                <p class="pl-lg-2 py-lg-3">{{product.introduction}}</p>                
            </div>

        </div>
        
        <div class="col-12 col-lg-11 mt-3 mt-lg-5 col-lg-11 mt-0 mt-lg-3 py-4">
            <h4 class="text-center text-lg-left fw-bold">SẢN PHẨM LIÊN QUAN</h4>
            <div >
                <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="false" [interval]="0"
                    [indicatorsByChunk]="true" class="pb-4">
                    <slide class="slide" *ngFor="let rp of relatedProducts; i as index">
                        <app-product-card [product]="rp"></app-product-card>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>


</div>