@media screen and (max-width: 990px) {
    .btn, label, input {
        font-size: 1.2rem;
    }

    .thumbnail {
        width: 100%;
        height: 30vh;
    }
    
    
    

    .sort {
        margin: 0;
    }

    

    .category-header {
        margin-left: 0rem;
        margin-top: 5rem;
    }


    

    .btn-sort {
        text-align: center!important;
    }

    .row {
        margin: auto 0;
    }

    
    
}




@media screen and (min-width: 992px) and (max-width: 1200px){
    .col-lg-3 {
        flex: 0 0 33%;
        max-width: 33%;
    }

    

    .product-price {
        font-size: 0.7rem;
    }

    

}

@media screen and (min-width: 1200px){
    
    .row {
        margin: auto 0;
        padding: 0 2vw;
    }

    .thumbnail {
        width: 100%;
        background-position: cover;
        min-height: 40vh;
    }

}


.form-group {
    width: 100%;
}


.filter-btn-group {
    width: 100%;
}


p {
    margin: auto 0;
}

.dropdown-menu {
    min-width: 20vw;
}

