@media screen and (max-width: 1200px) {
    .row {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .card {
        margin: 0 auto;
    }

    .register-form {
        margin-left: 0!important;
    }
}

.container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(69, 98, 116);
}


.card {
    border-radius: 1rem;
}


.title {
    color: rgb(169, 101, 101);
}

.btn-register {
    width: 100%;
    background-color: rgb(169, 101, 101);
    border: none;
    padding: 1rem 0;
}

.btn-register:hover {
    background-color: rgb(131, 78, 78);
}

.fill {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 1rem 0 0 1rem;
    max-height: 1000px;
}