@media screen and (max-width: 990px) {
    .row {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .card {
        margin: 0 auto;
    }

    .register-form {
        margin-left: 0!important;
    }
}

@media screen and (min-width: 990px) {
    .w-lg-50 {
        width: 50% !important;
    }
}



.card {
    border-radius: 1rem;
}

