

div > form > div > button, div > form > div > input {
    min-height: 2rem;
}


form {
    width: 100%;
}

@media screen and (max-width: 988px)  {
    .container {
        padding: 1rem;
        background-color: #f8f9fa;
    }

   
}

input {
    border-radius: 0;
}