@media screen and (max-width: 990px) {
    .login-img {
        margin-top: 3rem;
        max-width: 100%;
        max-height: 100%;
    }

    .row {
        width: 100%;
        margin: 0;
    }

    .login-text {
        margin-top: 2rem;
    }

    .card-body {
        margin-bottom: 1rem;
    }

    .card-title {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .label {
        font-size: 1.3rem;
    }
    
    .btn {
        font-size: 1.2rem;
    }

    .forgot-passwd, .form-check-label, .form-check-input {
        font-size: 1.2rem;
    }

    .forgot-passwd {
        margin-top: 1.5rem;
        padding: 0;
    }

    .form-control, .form-check {
        margin-bottom: 2rem;
    }
}







.login-img-container {
    margin: 0 auto;
}

.desktop-padding{
    padding-top: 4rem;
}

.card {
    border-radius: 1rem;
}

.card-title {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.login-img {
    max-width: 100%;
    min-height: 100%;
    object-fit: contain;
    border-radius: 1rem 0 0 1rem;
    margin: auto 0;
}

.btn-login {
    width: 100%;
    color: rgb(255, 255, 255);
    border: none;
    padding: 1rem 0;
    border-radius: 0.5rem;
}


.forgot-passwd {
    padding-top: 1rem;
}

.forgot-passwd {
    margin-top: 1.5rem;
}

.form-control, .form-check {
    margin-bottom: 1rem;
}