

.btn {
    border-radius: 3px;
}



@media screen and (max-width: 1280px) {
    .row > div{
        margin-top: 6rem;
    }

    .header {
        background-position: 20% 27%;
    }

    .header > div > div > h1 {
        font-size: 2.5rem;
    }

    .header > div > div > h1 > strong{
        font-size: 5rem;
    }

    .header > div > div > h4 {
        font-size: 1.3rem;
    }

    
    

    
}

@media screen and (min-width: 1280px) {
    .row > div{
        padding-top: 6rem;
        padding-left: 6rem;
    }

    .header > div > div > h1 {
        font-size: 2.5rem;
    }

    .header > div > div > h1 > strong{
        font-size: 4rem;
    }

    .header > div > div > h4 {
        font-size: 1.3rem;
    }

    
}

.header > div > div > button {
    margin-top: 2rem;
    background-color: rgb(133, 87, 87);
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.high-light {
    margin-top: 3rem;
}


.high-light > h4, .high-light > .dropdown-divider {
    margin-left: 3rem;
}