<div class="container">
  <section class="min-vh-100 header" [ngStyle]="{ 'background-image': 'url(' + backgroungImageDesktop + ')'}">
    <div class="row col-12">
      <div class="col-12 col-lg-12 text-light">
          <h4>Thay đổi cuộc sống cùng</h4>
          <h1 class="font-secondary">Bộ sưu tập mới <br><strong>Minimal Design</strong></h1>
          <button class="btn btn-header px-5 py-3 ">Tìm hiểu</button>
      </div>
    </div>
  </section>
  <section class="min-vh-100 high-light">
    <h4>Nội thất phòng khách</h4>
    <hr class="dropdown-divider" style="height: 2px;">
  </section>
</div>

