<div class="container">
  <section class="header" style="background: linear-gradient( 0deg, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.3) 90%), url('{{headerImgUrl}}') repeat center center fixed;">
    <div class="row col-12">
      <div class="col-12 col-lg-12 text-light header-content">
        <h1 class="font-secondary">Khám phá bộ sưu tập mới <br><strong>Eiusmod tempor</strong></h1>
      </div>
      <button class="btn btn-header px-5 py-3 ">Tìm hiểu&nbsp;&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></button>
    </div>
  </section>

  <section class="category mt-5">
    <h3>Danh mục sản phẩm nổi bật</h3>
    <div class="row justify-content-evenly">
      <div class="col-6 col-lg-3">
        <img class="image" loading="lazy" src={{categoryImg1}}>
        <h3 class="fw-bolder cs-pointer">Trang trí lễ hội</h3>
      </div>
      <div class="col-6 col-lg-3">
        <img class="image" src={{categoryImg2}}>
        <h3 class="fw-bolder cs-pointer">Phòng khách</h3>
      </div>
      <div class="col-6 col-lg-3">
        <img class="image" src={{categoryImg3}}>
        <h3 class="fw-bolder cs-pointer">Cây cảnh</h3>
      </div>
      <div class="col-6 col-lg-3">
        <img class="image" src={{categoryImg4}}>
        <h3 class="fw-bolder cs-pointer">Phòng ngủ</h3>
      </div>
      <div class="col-6 col-lg-3">
        <img class="image" src={{categoryImg4}}>
        <h3 class="fw-bolder cs-pointer">Phòng ngủ</h3>
      </div>
      <div class="col-6 col-lg-3">
        <img class="image" src={{categoryImg4}}>
        <h3 class="fw-bolder cs-pointer">Phòng ngủ</h3>
      </div>
    </div>

  </section>

  <section class="introduce">
    <div class="row">
      <div class="col-12 col-lg-4 introduce-content">
        <h3>Giới thiệu về <strong>Furniture</strong></h3>
          <p>{{introduceContent}}</p>
        <div class="col-12 px-0">
          <button class="btn btn-dark py-4 px-4 fw-bolder">
            Xem thông tin chi tiết
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-8 introduce-image">
        <div class="image-container-r">
          <img class="image-r image-r-1" loading="lazy" src={{introductImg1}}>
          <img class="image-r image-r-2" loading="lazy" src={{introductImg2}}>
        </div>
      </div>
    </div>
  </section>

  <section class="email-signup">
      <div class="col-12 text-center pt-5">
          <h3 class="text-light text-capitalize lh-lg font-brand">
            đăng ký<br>nhận tin tức mới nhất
          </h3>
          <h5 class="text-light pt-3">
            Đăng ký nhận tin tức mới nhất để nhận được nhiều ưu đãi
          </h5>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-7 input-group mt-4">
              <input type="text" class="form-control" placeholder="Email của bạn" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-dark" type="button" id="button-addon2">Đăng ký</button>
            </div>
          </div>
      </div>    
  </section>


</div>