
@media screen and (max-width: 1280px) and (min-width: 988px)  {
    .image-container-r {
        position: relative;
    }
    

    .image-r {
        overflow: hidden;
        object-fit: cover;
        width: 32vw;
        transition-duration: 700ms;
        transition-timing-function: ease-out;
    }

    .image-r:hover {
        width: 33vw;
        transition-duration: 700ms;
        transition-timing-function: ease-out;
    }

    .image-r-2:hover {
        z-index: 4;
    }


    .image-r-1 {
        
        position: absolute;
        top: 100%;
        left: 0;
        transform: translate( -10%, 30%);
        z-index: 1;
    }
    
    .image-r-2 {
        position: absolute;
        top: 100%;
        right: 5%;
        z-index: 0;
    }
 }


@media screen and (max-width: 988px) {
    .container {
        margin-bottom: 5vh;
    }
    
    /* ------------- Header ----------------*/
    .header {
        background-position: 25% 27%;
        height: 50vh;
    }

    .header > div {
        min-height: 45vh;
    }

    .header > .row > div{
        margin-top: 3rem;
    }


    .header > div > div > h1 > strong{
        font-size: 2.7rem;
    }

    .header > div > div > h4 {
        font-size: 1.3rem;
    }
    


    /* ------------- Introduce ----------------*/
    .introduce > .row {
        width: 100%;
    }

    .introduce > div > .introduce-content {
        padding-top: 2rem;
        padding-left: 2.5rem;
    }

    .introduce > div > .introduce-content > h3 {
        margin: 3rem auto;
    }

    .introduce > div > div > div > button {
        margin-top: 1rem;
        width: 100%;
    }

    .introduce > div > .introduce-image {
        min-height: calc(140vw + 10vh);
        padding-left: 2.5rem;
    }

    .image-container-r {
        position: relative;
    }
    
    .image-r {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        transition-duration: 700ms;
        transition-timing-function: ease-out;
    }

    .image-r-1 {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate( 0, 20%);
        z-index: 1;
    }
    
    .image-r-2 {
        position: absolute;
        top: 100%;
        left: 0;
        transform: translate( 0, 130%);
        z-index: 0;
    }

    .image-r:active  {
        opacity: 0.5;
        transition-duration: 700ms;
        transition-timing-function: ease-out;
    }

    /* ------------- Category ----------------*/
    .category > h3 {
        text-align: center;
        padding: 2rem 1rem;
    }

    .category > div {
        margin: auto 1rem;
    }

    .category > div > div {
        padding: 0.5rem ;
        width: 100%;
        min-height: 30vh;
        overflow: hidden;
    }

    .category > div > div:focus img , .category > div > div:hover img , .category > div > div:active img{
        filter: brightness(60%);
        -webkit-filter: brightness(60%);
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    
    .category > div > div > img {
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }

    .category > div > div > h3 {
        width: 35vw;
        color: white;
        text-shadow: rgb(0, 0, 0) 2px 0 10px;
        text-decoration: double;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }

    /* ------------- Email sigh-up ----------------*/

    .email-signup {
        margin-top: 5vh;
    }

    .email-signup > div {
        padding: 0 10vw;
    }
    
    
    
    
}




@media screen and (min-width: 988px) {
    /* ------------- All page ----------------*/
    .header > .row > div{
        padding-top: 15rem;
        padding-left: 6rem;
    }


    /* ------------- Header ----------------*/
    .header {
        height: 100vh;
        
    }

    .header > div {
        min-height: 90vh;
    }

    .header > div > div > h1 {
        font-size: 2.5rem;
    }

    .header > div > div > h1 > strong{
        font-size: 4rem;
    }

    .header > div > div > h4 {
        font-size: 1.3rem;
    }

    /* ------------- Introduce ----------------*/
    .introduce {
        margin-bottom: calc(10vw + 5vh);
    }

    .introduce > .row {
        width: 100%;
    }

    .introduce > .row > div {
        padding-top: 1rem;
        padding-left: 6rem;
    }

    .introduce > div > div {
        padding-top: 3rem;
    }

    .introduce > div > div > p {
        margin-top: 3rem;
    }


    .image-container-r {
        position: relative;
    }
    

    .image-r {
        overflow: hidden;
        object-fit: cover;
        width: 32vw;
        transition-duration: 700ms;
        transition-timing-function: ease-out;
    }

    .image-r:hover {
        width: 33vw;
        transition-duration: 700ms;
        transition-timing-function: ease-out;
    }

    .image-r-2:hover {
        z-index: 4;
    }


    .image-r-1 {
        
        position: absolute;
        top: 100%;
        left: 0;
        transform: translate( -10%, 30%);
        z-index: 1;
    }
    
    .image-r-2 {
        position: absolute;
        top: 100%;
        right: 5%;
        z-index: 0;
    }


    /* ------------- Category ----------------*/
    .category > h3 {
        text-align: center;
        padding: 2rem 0;
    }
    
    .category > .row {
        padding: 2rem 4.5rem;
        margin: auto 0;
    }

    .category > div > div {
        
        padding-top: 0;
        margin-bottom: 1rem;
        width: 100%;
        height: 50vh;
        padding-left: 0;
        overflow: hidden;
        
    }
    
    .category > div > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
    
    .category > div > div > h3 {
        color: white;
        text-shadow: rgb(0, 0, 0) 2px 0 10px;
        text-decoration: double;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
    
    .category > div > div:hover img {
        filter: brightness(40%);
        -webkit-filter: brightness(40%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .category > div > div:hover h3 {
        transition: all 1s ease;
        font-size: 2rem;
        bottom: 40%;
        left: 10%;
        text-shadow: none;
    }

    .email-signup {
        margin: 5vw;
    }

    .email-signup > div > div > div{
        width: 50vw;
    }

    
    
}


/* ------------- All page ----------------*/
.btn {
    border-radius: 0px;
}

img {
    border-radius: 5px;
}

/* ------------- Header ----------------*/

.header {
    background-repeat: no-repeat;
    background-size: cover;
}

.header > div {
    padding-right: 0;
    margin: auto 0;
}

.header > div > div {
    position: relative;
}

.btn-header {
    right: 0;
    bottom: 0;
    background-color: rgb(233, 173, 76);
    font-weight: bold;
    color: white;
    position: absolute;
}

.btn-header:hover {
    background-color: rgb(194, 138, 17);
}

/* ------------- Category ----------------*/

.category {
    min-height: 30vh;
}


/* ------------- Introduce ----------------*/
.introduce {
    margin-top: 3rem;
}

.introduce > div > div > p {
    text-align: justify;
}

.email-signup {
    background-color: rgb(219, 166, 67);
    padding-bottom: 10vh;
}

.email-signup > div > div > div > input, .email-signup > div > div > div > button {
    border-radius: 0;
    height: 3rem;
}



