@media screen and (max-width: 990px) {
    
}


@media screen and (min-width: 1200px) {
    .img-wrapper {
        margin-bottom: 3rem;
    }
}

.card {
    border: none;
    margin-top: 7vh;
}


.center > h6 {
    max-width: calc(35px);
}

.card:hover img {
    transform: scale(1.1, 1.1);
    transition-duration: 1000ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 1000ms;
    transition-timing-function: ease-out;
}

.btn-like:hover {
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
    color: red;
}

.btn-cart:hover {
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
    color: rgb(98, 170, 98);
}

.center {
    display: table;
    text-align: center;
}

.center > p, .center > h6, .center > button > p {
    display: table-cell;
    vertical-align: middle;
}

.cart, .like {
    position: absolute;
    right: -30%;
    opacity: 0;
    z-index: 500;
}

.card-img-wrapper:hover .cart,.card-img-wrapper:hover .like {
    right: 0;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
    opacity: 1;
}

.frame {
    height: 20rem;   
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin: 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    max-height: 20rem;
    max-width: 100%;
}
