<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative h-100">
    <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2" [class.text-success]="article.type == 1"
            [class.text-danger]="article.type == 2">
            {{article.type | articleType}}
        </strong>
        <h3 class="mb-1">{{article.title}}</h3>
        <div class="mb-3 text-muted">{{article.publishedDate | date:'longDate'}}</div>
        <p class="mb-auto">{{article.description}}</p>
        <a class="text-red stretched-link mt-2" routerLink='/news/{{article.id}}'>Xem chi tiết</a>
    </div>
    <div class="col-auto d-none d-lg-block">
        <div class="container h-100" style="width: 10rem">
            <div class="row h-100">
                <img class='img-fluid h-100' style="object-fit: cover;" src="{{article.thumbnailPhotoUrl}}" alt="" />
            </div>
        </div>
    </div>
</div>