<div class="container" *ngIf="articles">

  <section class="p-5 thumbnail" *ngIf="articles[0].thumbnailPhotoUrl != ''"
    [ngStyle]="{ 'background-image': 'url(' + getCoverUrl() + ')'}">
    <div class="py-5 px-0 p-lg-5">
      <h1 class="display-5 font-primary mt-lg-2 text-light text-center text-lg-left fw-bold">
        TIN TỨC
      </h1>
    </div>
  </section>

  <div class="bg-dark p-3">
    <div class="row text-center text-light">

      <div (click)="changeArticleOption('all')" [class.border-bottom]="articleParams.type == 'all'"
        class="col-4 cs-pointer">
        <h5 [class.fw-bolder]="articleParams.type == 'all'">Tất cả tin tức</h5>
      </div>

      <div (click)="changeArticleOption('news')" [class.border-bottom]="articleParams.type == 'news'"
        class="col-4 cs-pointer">
        <h5 [class.fw-bolder]="articleParams.type == 'news'">Thông báo mới</h5>
      </div>

      <div (click)="changeArticleOption('promotions')" [class.border-bottom]="articleParams.type == 'promotions'"
        class="col-4 cs-pointer">
        <h5 [class.fw-bolder]="articleParams.type == 'promotions'">Khuyến mãi</h5>
      </div>

    </div>
  </div>

  <div class="w-100 p-2 p-lg-4">
    <h2 class="fw-bold pt-3 text-center text-red">{{articleParams.type | articleType}}</h2>
    <div class="row p-1 p-md-3 p-lg-5">
      <div *ngFor="let article of articles" class="col-12 col-md-6 col-lg-6 mt-3 px-lg-4">
        <app-news-card [article]="article"></app-news-card>
      </div>
      <div class="col-12 d-flex justify-content-center mt-5" *ngIf="pagination">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
          [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
      </div>
    </div>
  </div>

</div>