.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

@media (max-width: 990px) {
  
}


.row {
  width: 100%;
  margin: 0;
}

.header  > div{
  background-color:rgba(0, 0, 0, 0.6);
}

.header > div > h1, .header > div > p{
  text-shadow: rgb(0, 0, 0) 2px 0 10px;
  
}